<!DOCTYPE html>
<html lang='en'>
  <head>
    <link href='https://bootswatch.com/lumen/bootstrap.min.css' rel='stylesheet'>
    <link src='/public/css/jumbotron-narrow.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/css/bootstrap-slider.min.css' rel='stylesheet'>
    <link src='/public/css/index.css' rel='stylesheet'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.0.0/anchor.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-1'>
        </div>
        <div class='col-lg-10'>
          <div class='page-header'>
            <h3 class='text-muted'>MoMath Hackathon - Control Theory</h3>
          </div>

          <div class="jumbotron">
            <h1>How do self-driving cars work?</h1>
            <p>Human drivers use their eyes and brains to follow the road,
               but how do we get robots to do the same? The answer will take us
               on an exciting journey into mathematics!
            </p>
            <p><a class="btn btn-primary btn-lg" href="#autonomous-cars" role="button">Get Started</a></p>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Autonomous Cars</h3>
            </div>
            <div class="panel-body">
              <div id="example-null-results"></div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Driving with Math!</h3>
            </div>
            <div class="panel-body">
              <div id="example-0-results"></div>
              Angle of turn: <a href="javascript:void();" id="example-0"><input name="example-0" id="ex0" data-slider-id='ex0Slider' type="text" data-slider-min="0" data-slider-max="2" data-slider-step="0.2" data-slider-value="0.6"/></a>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Proportional Turning</h3>
            </div>
            <div class="panel-body">
              <div id="example-1-results"></div>
              Sensitivity to error: <a href="javascript:void();" id="example-1"><input name="example-1" id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/></a>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Summative Turning</h3>
            </div>
            <div class="panel-body">
              <div id="example-2-results"></div>
              Sensitivity to summative: <a href="javascript:void();" id="example-2"><input name="example-2" id="ex2" data-slider-id='ex2Slider' type="text" data-slider-min="0" data-slider-max="2" data-slider-step="0.2" data-slider-value="0.2"/></a>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Differential Turning</h3>
            </div>
            <div class="panel-body">
              <div id="example-3-results"></div>
              Sensitivity to differential: <a href="javascript:void();" id="example-3"><input name="example-3" id="ex3" data-slider-id='ex3Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="2" data-slider-value="10"/></a>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Proportional - Integral - Derivative</h3>
            </div>
            <div class="panel-body">
              <div id="example-4-results"></div>
              Sensitivity to angle: <a href="javascript:void();" id="example-4-a"><input name="example-4-a" id="ex4-a" data-slider-id='ex4Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/></a>
              <br>Sensitivity to summative: <a href="javascript:void();" id="example-4-b"><input name="example-4-b" id="ex4-b" data-slider-id='ex4Slider' type="text" data-slider-min="0" data-slider-max="2" data-slider-step="0.2" data-slider-value="0.2"/></a>
              <br>Sensitivity to derivative: <a href="javascript:void();" id="example-4-c"><input name="example-4-c" id="ex4-c" data-slider-id='ex4Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="2" data-slider-value="10"/></a>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Try it Out!</h3>
            </div>
            <div class="panel-body">
              <div id="example-5-results"></div>
              Sensitivity to angle: <a href="javascript:void();" id="example-5-a"><input name="example-5-a" id="ex5-a" data-slider-id='ex5Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/></a>
              <br>Sensitivity to summative: <a href="javascript:void();" id="example-5-b"><input name="example-5-b" id="ex5-b" data-slider-id='ex5Slider' type="text" data-slider-min="0" data-slider-max="2" data-slider-step="0.2" data-slider-value="0.2"/></a>
              <br>Sensitivity to derivative: <a href="javascript:void();" id="example-5-c"><input name="example-5-c" id="ex5-c" data-slider-id='ex5Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="2" data-slider-value="10"/></a>
            </div>
          </div>


          <footer class='footer'>
            <p>
              &copy; <a href='https://www.github.com/humford'>Henry Williams</a> and <a href='https://github.com/benvchurch'>Benjamin Church</a>
            </p>
          </footer>
        </div>
        <div class='col-lg-1'>
        </div>
      </div>
    </div>
    <script>
    // With JQuery
    $('#ex0').slider({
	     formatter: function(value) {
		       return 'Current value: ' + value;
	        }
        });

    $('#ex1').slider({
       formatter: function(value) {
           return 'Current value: ' + value;
          }
        });

    $('#ex2').slider({
        formatter: function(value) {
            return 'Current value: ' + value;
          }
        });

    $('#ex3').slider({
        formatter: function(value) {
            return 'Current value: ' + value;
          }
        });

    $('#ex4-a').slider({
        formatter: function(value) {
            return 'Current value: ' + value;
          }
        });

    $('#ex4-b').slider({
        formatter: function(value) {
            return 'Current value: ' + value;
          }
        });

    $('#ex4-c').slider({
        formatter: function(value) {
            return 'Current value: ' + value;
          }
        });

    $('#ex5-a').slider({
        formatter: function(value) {
            return 'Current value: ' + value;
          }
        });

    $('#ex5-b').slider({
        formatter: function(value) {
            return 'Current value: ' + value;
          }
        });

    $('#ex5-c').slider({
        formatter: function(value) {
            return 'Current value: ' + value;
          }
        });
    </script>

    <script type=text/javascript>
    $(document).ready(function() {
      $.get('/_example-null', {}, function(data) {$("#example-null-results").html(data);});
      $.get('/_example-0', {}, function(data) {$("#example-0-results").html(data);});
      $.get('/_example-1', {}, function(data) {$("#example-1-results").html(data);});
      $.get('/_example-2', {}, function(data) {$("#example-2-results").html(data);});
      $.get('/_example-3', {}, function(data) {$("#example-3-results").html(data);});
      $.get('/_example-4', {}, function(data) {$("#example-4-results").html(data);});
      //$.get('/_example-5', {}, function(data) {$("#example-5-results").html(data);});
    });
    </script>

    <script type=text/javascript>
    $(function() {
      $('a#example-0').bind('click', function() {
        $.get('/_example-0', {
          a: $('#ex0').slider('getValue')
        }, function(data) {
          $("#example-0-results").html(data);
        });
        return false;
      });
    });

    $(function() {
      $('a#example-1').bind('click', function() {
        $.get('/_example-1', {
          a: $('#ex1').slider('getValue')
        }, function(data) {
          $("#example-1-results").html(data);
        });
        return false;
      });
    });

    $(function() {
      $('a#example-2').bind('click', function() {
        $.get('/_example-2', {
          a: $('#ex2').slider('getValue')
        }, function(data) {
          $("#example-2-results").html(data);
        });
        return false;
      });
    });

    $(function() {
      $('a#example-3').bind('click', function() {
        $.get('/_example-3', {
          a: $('#ex3').slider('getValue')
        }, function(data) {
          $("#example-3-results").html(data);
        });
        return false;
      });
    });

    $(function() {
      $('a#example-4-a, a#example-4-b, a#example-4-c').bind('click', function() {
        $.get('/_example-4', {
          a: $('#ex4-a').slider('getValue'),
          b: $('#ex4-b').slider('getValue'),
          c: $('#ex4-c').slider('getValue')
        }, function(data) {
          $("#example-4-results").html(data);
        });
        return false;
      });
    });

    // $(function() {
    //   $('example-5-results').bind('click', function() {
    //     $.get('/_example-5', {
    //       a: $('#ex5-a').slider('getValue'),
    //       b: $('#ex5-b').slider('getValue'),
    //       c: $('#ex5-c').slider('getValue')
    //     }, function(data) {
    //       $("#example-5-results").html(data);
    //     });
    //     return false;
    //   });
    // });
  </script>

  <script>
    anchors.add();
  </script>
  </body>
</html>
