<!DOCTYPE html>
<html lang='en'>
  <head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href='https://bootswatch.com/lumen/bootstrap.min.css' rel='stylesheet'>
    <link src='/public/css/jumbotron-narrow.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/css/bootstrap-slider.min.css' rel='stylesheet'>
    <link src='/public/css/index.css' rel='stylesheet'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
<!--     <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> 
 -->    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.0.0/anchor.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-1'>
        </div>
        <div class='col-lg-10'>
          <div class='page-header'>
            <h2 class='text-muted'>MoMath Hackathon - Control Theory</h3>
          </div>

          <div class="jumbotron">
            <h1>The Math of Self-Driving Cars</h1>
            <p>Human drivers use their eyes and brains to follow the road,
               but how do we get robots to do the same? The answer will take us
               on an exciting journey into mathematics!
            </p>
            <p><a class="btn btn-primary btn-lg" href="#autonomous-cars" role="button">Get Started</a></p>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Autonomous Cars</h2>
            </div>
            <div class="panel-body">
              <p>Humans use their eyes and senses to observe the road the are on and in front of them and make slight adjustments
                to their steering to stay on course. Robots, on the the other hand, don't have the intuitive sense for navigation
                that humans do.
              </p>
              <div id="example-null-results"></div>
              <p>If we want our self driving cars to do more than just travel in <strong>straight lines</strong> we need to teach
                computers how to follow a road using a language they can understand: <a href="#driving-with-math"><mark>MATH!</mark></a>
              </p>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Driving with Math!</h2>
            </div>
            <div class="panel-body">
              <p>
                The simplest strategy is to decide your course by turning back towards the road whenever the car drifts off.
                This strategy succeeds in following slightly curved roads, but the more unpredictable the road, the worse the
                car is at staying on track. Since the car only cares about getting back on the road, it reconnect with the road
                at such a steep angle that it will go off the other edge, causing it to weave back and forth.
              </p>
              <p>
                In the simulation below, you can move the slider at the top to change the bend in the road, and use the slider
                at the bottom to determine the angle at which the car turns back onto the road. Play around and see for yourself
                the limitations of this strategy.
              </p>
              <strong>Road curve:</strong> &nbsp;&nbsp;&nbsp;<a href="javascript:void();" id="example-0-road"><input name="example-0-road" id="ex0-road" data-slider-id='ex0RoadSlider' type="text" data-slider-min="0" data-slider-max="6" data-slider-step="1" data-slider-value="0"/></a>
              <div id="example-0-results"></div>
              <div class="well"><img id="example-0-latex" src="http://latex.codecogs.com/svg.latex?p_{steer}(err) = \begin{cases}    k,& \text{if } err(t) \geq d_{road}\\    0,              & \text{otherwise} \end{cases}" border="0"/></div>
              <strong>Angle of turn:</strong> &nbsp;&nbsp;&nbsp;<a href="javascript:void();" id="example-0"><input name="example-0" id="ex0" data-slider-id='ex0Slider' type="text" data-slider-min="0" data-slider-max="2" data-slider-step="0.2" data-slider-value="0.6"/></a>
              <br><br>
              <p>
                In mathematical symbols, this strategy is expressed by the power in steering given an error
                (i.e. the distance of the car from the road).
              </p>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Proportional Turning</h2>
            </div>
            <div class="panel-body">
              <p>
                Instead of always steering back at the same angle, we can tell our car to steer back towards the road at an angle
                proportional to its distance away from it. We call this "proportional turning". This allows the car to steer at a
                less steep angle when it has nearly come back to the road reducing the chance of overshooting. However, this strategy
                can't escape the fact that once the car reaches the center, it still needs to turn along with the road to prevent going
                off again.
              </p>
              <p>
                In the simulation below, the top slider again represents the bend in the road and the bottom one the sensitivity to
                distance from the target.
              </p>
              <strong>Road curve:</strong> &nbsp;&nbsp;&nbsp;<a href="javascript:void();" id="example-1-road"><input name="example-1-road" id="ex1-road" data-slider-id='ex1RoadSlider' type="text" data-slider-min="0" data-slider-max="6" data-slider-step="1" data-slider-value="0"/></a>
              <div id="example-1-results"></div>
              <div class="well"><img id="example-1-latex" src="http://latex.codecogs.com/svg.latex?        p_{steer}(err) = k_p \cdot err(t)" border="0"/></div>
              <strong>Sensitivity to error:</strong> &nbsp;&nbsp;&nbsp;<a href="javascript:void();" id="example-1"><input name="example-1" id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/></a>
              <br><br>
              <p>
                In mathematical symbols, this strategy is expressed by the sensitivity multiplied by the distance from the road.
              </p>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Summative Turning</h2>
            </div>
            <div class="panel-body">
              <p>
                This time, we can also tell the car if it is consistently off to one side, making it turn towards the other. This
                information is captured by the sum of the errors over time. We call this "summative turning" We allow the car to use this new variable as another
                factor in determining its steering.
              </p>
              <p>
                Consider why the sum term doesn't signifigantly change the motion.
              </p>
              <strong>Road curve:</strong> &nbsp;&nbsp;&nbsp;<a href="javascript:void();" id="example-2-road"><input name="example-2-road" id="ex2-road" data-slider-id='ex2RoadSlider' type="text" data-slider-min="0" data-slider-max="6" data-slider-step="1" data-slider-value="0"/></a>
              <div id="example-2-results"></div>
              <div class="well"><img id="example-2-latex" src="http://latex.codecogs.com/svg.latex?        p_{steer}(err) = k_p \cdot err(t)\: + \: k_i \cdot \int_0^{t} \! err(t') \: \mathrm{d}t' " border="0"/></div>
              <strong>Sensitivity to summative:</strong> &nbsp;&nbsp;&nbsp;<a href="javascript:void();" id="example-2"><input name="example-2" id="ex2" data-slider-id='ex2Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.2" data-slider-value="0.2"/></a>
              <br><br>
              <p>
                This sum is represented by the mathematical operation called an "integral," represented by the large letter "S" for
                sum. We combine this with our proportional turning, with a set sensitivity for this simulation.
              </p>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Differential Turning</h2>
            </div>
            <div class="panel-body">
              <p>
                A further piece of important information is how quickly the distance to the road is changing. Essentially, is the car
                moving towards or away from the road. If the car is moving away from the road, turning in is more important than it would
                be if the care were already headed back towards the road. We call this "differential turning".
              </p>
              <p>
                Notice how the line the car follows is much smoother with this differential term.
              </p>
              <strong>Road curve:</strong> &nbsp;&nbsp;&nbsp;<a href="javascript:void();" id="example-3-road"><input name="example-3-road" id="ex3-road" data-slider-id='ex3RoadSlider' type="text" data-slider-min="0" data-slider-max="6" data-slider-step="1" data-slider-value="0"/></a>
              <div id="example-3-results"></div>
              <div class="well"><img id="example-3-latex" src="http://latex.codecogs.com/svg.latex?        p_{steer}(err) = k_p \cdot err(t) \: + \: k_d \cdot \frac{d}{dt} err(t) " border="0"/></div>
              <strong>Sensitivity to differential:</strong> &nbsp;&nbsp;&nbsp;<a href="javascript:void();" id="example-3"><input name="example-3" id="ex3" data-slider-id='ex3Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="2" data-slider-value="10"/></a>
              <br><br>
              <p>
                This is represented by the mathematical operation called a "derivative," which represents small changes in a value. This
                is again combined with our proportional turning.
              </p>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title">Proportional - Integral - Derivative Controller</h2>
            </div>
            <div class="panel-body">
              <p>
                Proportional - Integral - Derivative, or PID, is the combination of all three of the methods we've looked at. This is a
                simple yet powerful tool with many real world applications from robotics to temperature control and more.
              </p>
              <p>
                Try reducing one of the factors to 0 while trying to hold a stable path.
              </p>
              <strong>Road curve:</strong> &nbsp;&nbsp;&nbsp;<a href="javascript:void();" id="example-4-road"><input name="example-4-road" id="ex4-road" data-slider-id='ex4RoadSlider' type="text" data-slider-min="0" data-slider-max="6" data-slider-step="1" data-slider-value="0"/></a>
              <div id="example-4-results"></div>
              <div class="well"><img id="example-4-latex" src="http://latex.codecogs.com/svg.latex?        p_{steer}(err) = k_p \cdot err(t) \: + \: k_i \cdot \int_0^{t} \! err(t') \: \mathrm{d}t' \: + \:  k_d \cdot \frac{d}{dt} err(t) " border="0"/></div>
              <strong>Sensitivity to angle:</strong> &nbsp;&nbsp;&nbsp;<a href="javascript:void();" id="example-4-a"><input name="example-4-a" id="ex4-a" data-slider-id='ex4Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/></a>
              <br><strong>Sensitivity to summative:</strong> &nbsp;&nbsp;&nbsp;<a href="javascript:void();" id="example-4-b"><input name="example-4-b" id="ex4-b" data-slider-id='ex4Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.2" data-slider-value="0.2"/></a>
              <br><strong>Sensitivity to derivative:</strong> &nbsp;&nbsp;&nbsp;<a href="javascript:void();" id="example-4-c"><input name="example-4-c" id="ex4-c" data-slider-id='ex4Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="2" data-slider-value="10"/></a>
              <br><br>
              <p>
                In the language of mathematics, this tool is represented by the three terms we already created, combined into a single function.
              </p>
            </div>
          </div>

          <div class="panel panel-success">
            <div class="panel-heading">
              <h2 class="panel-title">Try it Out!</h2>
            </div>
            <div class="panel-body">
              <p>Play with the proportion, integral, and derivative parts of the controller and see if you can optimize the path the car takes.</p>
              <div href="javascript:void();" id="example-5-results"></div>
              <strong>Sensitivity to angle:</strong> &nbsp;&nbsp;&nbsp;<a href="javascript:void();" id="example-5-a"><input name="example-5-a" id="ex5-a" data-slider-id='ex5Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/></a>
              <br><strong>Sensitivity to summative:</strong> &nbsp;&nbsp;&nbsp;<a href="javascript:void();" id="example-5-b"><input name="example-5-b" id="ex5-b" data-slider-id='ex5Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.2" data-slider-value="0.2"/></a>
              <br><strong>Sensitivity to derivative:</strong> &nbsp;&nbsp;&nbsp;<a href="javascript:void();" id="example-5-c"><input name="example-5-c" id="ex5-c" data-slider-id='ex5Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="2" data-slider-value="10"/></a>
            </div>
          </div>


          <footer class='footer'>
            <p>
              &copy; <a href='https://www.github.com/humford'>Henry Williams</a> and <a href='https://github.com/benvchurch'>Benjamin Church</a>
            </p>
          </footer>
        </div>
        <div class='col-lg-1'>
        </div>
      </div>
    </div>
    <script>
    $('#ex0-road').slider({
	     formatter: function(value) {
		       return value;
	        }
        });

    $('#ex1-road').slider({
       formatter: function(value) {
           return value;
          }
        });

    $('#ex2-road').slider({
        formatter: function(value) {
            return value;
          }
        });

    $('#ex3-road').slider({
        formatter: function(value) {
            return value;
          }
        });

    $('#ex4-road').slider({
        formatter: function(value) {
            return value;
          }
        });
    // With JQuery
    $('#ex0').slider({
	     formatter: function(value) {
		       return value;
	        }
        });

    $('#ex1').slider({
       formatter: function(value) {
           return value;
          }
        });

    $('#ex2').slider({
        formatter: function(value) {
            return value;
          }
        });

    $('#ex3').slider({
        formatter: function(value) {
            return value;
          }
        });

    $('#ex4-a').slider({
        formatter: function(value) {
            return value;
          }
        });

    $('#ex4-b').slider({
        formatter: function(value) {
            return value;
          }
        });

    $('#ex4-c').slider({
        formatter: function(value) {
            return value;
          }
        });

    $('#ex5-a').slider({
        formatter: function(value) {
            return value;
          }
        });

    $('#ex5-b').slider({
        formatter: function(value) {
            return value;
          }
        });

    $('#ex5-c').slider({
        formatter: function(value) {
            return value;
          }
        });
    </script>

    <script type=text/javascript>
    $(document).ready(function() {
      $.get('/_example-null', {}, function(data) {$("#example-null-results").html(data);});
      $.get('/_example-0', {}, function(data) {
        $("#example-0-results").html(data);
        $("#example-0-latex").attr("src", "http://latex.codecogs.com/svg.latex?p_{steer}(err) = \\begin{cases}   ".concat($('#ex0').slider('getValue'), ",& \\text{if } err(t) \\geq d_{road}\\\\    0,              & \\text{otherwise} \\end{cases}"));
      });
      $.get('/_example-1', {}, function(data) {
        $("#example-1-results").html(data);
        $("#example-1-latex").attr("src", "http://latex.codecogs.com/svg.latex?        p_{steer}(err) = ".concat($('#ex1').slider('getValue'), " \\cdot err(t)"));
      });
      $.get('/_example-2', {}, function(data) {
        $("#example-2-results").html(data);
        $("#example-2-latex").attr("src", "http://latex.codecogs.com/svg.latex?        p_{steer}(err) = 10 \\cdot err(t)\\: + \\: ".concat($('#ex2').slider('getValue'), " \\cdot \\int_0^{t} \\! err(t') \\: \\mathrm{d}t' "));
      });
      $.get('/_example-3', {}, function(data) {
        $("#example-3-results").html(data);
        $("#example-3-latex").attr("src", "http://latex.codecogs.com/svg.latex?        p_{steer}(err) = 10 \\cdot err(t) \\: + \\: ".concat($('#ex3').slider('getValue'), " \\cdot \\frac{d}{dt} err(t)"));
      });
      $.get('/_example-4', {}, function(data) {
        $("#example-4-results").html(data);
        $("#example-4-latex").attr("src", "http://latex.codecogs.com/svg.latex?        p_{steer}(err) = ".concat($('#ex4-a').slider('getValue'), " \\cdot err(t) \\: + \\: ", $('#ex4-b').slider('getValue'), " \\cdot \\int_0^{t} \\! err(t') \\: \\mathrm{d}t' \\: + \\:  ", $('#ex4-c').slider('getValue'), " \\cdot \\frac{d}{dt} err(t)"));
      });
      $.get('/_example-5', {}, function(data) {$("#example-5-results").html(data);});
    });
    </script>

    <script type=text/javascript>
    $(function() {
      $('a#example-0, a#example-0-road').bind('click', function() {
        $.get('/_example-0', {
          a: $('#ex0').slider('getValue'),
          r: $('#ex0-road').slider('getValue')
        }, function(data) {
          $("#example-0-results").html(data);
          $("#example-0-latex").attr("src", "http://latex.codecogs.com/svg.latex?p_{steer}(err) = \\begin{cases}   ".concat($('#ex0').slider('getValue'), ",& \\text{if } err(t) \\geq d_{road}\\\\    0,              & \\text{otherwise} \\end{cases}"));
        });
        return false;
      });
    });
  $(function() {
    $('ex0Slider').slider();
    $('ex0Slider').bind("slide", function(slideEvt) {
      $.get('/_example-0', {
          a: slideEvt.value,
          r: $('#ex0-road').slider('getValue')
        }, function(data) {
          $("#example-0-results").html(data);
          $("#example-0-latex").attr("src", "http://latex.codecogs.com/svg.latex?p_{steer}(err) = \\begin{cases}   ".concat($('#ex0').slider('getValue'), ",& \\text{if } err(t) \\geq d_{road}\\\\    0,              & \\text{otherwise} \\end{cases}"));
        });
        return false;
    });
  });

    $(function() {
      $('a#example-1, a#example-1-road').bind('click', function() {
        $.get('/_example-1', {
          a: $('#ex1').slider('getValue'),
          r: $('#ex1-road').slider('getValue')
        }, function(data) {
          $("#example-1-results").html(data);
          $("#example-1-latex").attr("src", "http://latex.codecogs.com/svg.latex?        p_{steer}(err) = ".concat($('#ex1').slider('getValue'), " \\cdot err(t)"));
        });
        return false;
      });
    });

    $(function() {
      $('a#example-2, a#example-2-road').bind('click', function() {
        $.get('/_example-2', {
          a: $('#ex2').slider('getValue'),
          r: $('#ex2-road').slider('getValue')
        }, function(data) {
          $("#example-2-results").html(data);
          $("#example-2-latex").attr("src", "http://latex.codecogs.com/svg.latex?        p_{steer}(err) = 10 \\cdot err(t)\\: + \\: ".concat($('#ex2').slider('getValue'), " \\cdot \\int_0^{t} \\! err(t') \\: \\mathrm{d}t' "));
        });
        return false;
      });
    });

    $(function() {
      $('a#example-3, a#example-3-road').bind('click', function() {
        $.get('/_example-3', {
          a: $('#ex3').slider('getValue'),
          r: $('#ex3-road').slider('getValue')
        }, function(data) {
          $("#example-3-results").html(data);
          $("#example-3-latex").attr("src", "http://latex.codecogs.com/svg.latex?        p_{steer}(err) = 10 \\cdot err(t) \\: + \\: ".concat($('#ex3').slider('getValue'), " \\cdot \\frac{d}{dt} err(t) "));
        });
        return false;
      });
    });

    $(function() {
      $('a#example-4-a, a#example-4-b, a#example-4-c, a#example-4-road').bind('click', function() {
        $.get('/_example-4', {
          a: $('#ex4-a').slider('getValue'),
          b: $('#ex4-b').slider('getValue'),
          c: $('#ex4-c').slider('getValue'),
          r: $('#ex4-road').slider('getValue')
        }, function(data) {
          $("#example-4-results").html(data);
          $("#example-4-latex").attr("src", "http://latex.codecogs.com/svg.latex?        p_{steer}(err) = ".concat($('#ex4-a').slider('getValue'), " \\cdot err(t) \\: + \\: ", $('#ex4-b').slider('getValue'), " \\cdot \\int_0^{t} \\! err(t') \\: \\mathrm{d}t' \\: + \\:  ", $('#ex4-c').slider('getValue'), " \\cdot \\frac{d}{dt} err(t) "));
        });
        return false;
      });
    });

    $(function() {
      $('a#example-5-a, a#example-5-b, a#example-5-c').bind('click', function() {
        $.get('/_example-5', {
          a: $('#ex5-a').slider('getValue'),
          b: $('#ex5-b').slider('getValue'),
          c: $('#ex5-c').slider('getValue')
        }, function(data) {
          $("#example-5-results").html(data);
        });
        return false;
      });
    });
  </script>

  <script>
    anchors.add();
  </script>
  </body>
</html>
